/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
::selection {
  background-color: #2c8a5a;
  color: #FFF;
}
::-moz-selection {
  background-color: #2c8a5a;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
/*
FONTS START
**********************************************************************************************/
.site-header .navbar-inverse {
  font-family: 'BebasNeueBold', Arial, sans-serif;
  font-weight: normal;
}
.site-header .navbar-default {
  font-family: 'source_sans_problack', Arial, sans-serif;
  font-weight: normal;
}
.preco-parcela,
.preco-final,
.title {
  font-family: 'source_sans_probold', Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header .navbar {
  border: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
}
.extra-header .navbar-default {
  background: none;
}
.extra-header .navbar-text {
  margin: 0;
  padding: 16px 15px;
}
.extra-header .header-line-1 .nav {
  font-size: 15px;
  margin-left: 0;
  margin-right: 0;
}
.extra-header .header-line-1 .nav > li a {
  padding: 14px 15px;
}
.extra-header .header-line-1 .nav > li + li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.extra-header .header-line-1 .nav .icone {
  color: #c9787d;
  margin-right: 5px;
}
.extra-header .navbar-brand {
  height: auto;
}
.extra-header .navbar-inverse {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.extra-header .navbar-inverse .nav > li a:hover {
  text-decoration: underline;
}
.extra-header .navbar-inverse .nav > li + li {
  border-left: 1px solid #287c51;
}
.extra-header .navbar-inverse .navbar-toggle {
  border-color: #1a5034;
}
.extra-header .navbar-inverse .navbar-toggle:hover,
.extra-header .navbar-inverse .navbar-toggle:focus {
  background-color: #1a5034;
}
.extra-header .navbar-inverse .navbar-collapse,
.extra-header .navbar-inverse .navbar-form {
  border-color: transparent;
}
.extra-header .navbar-form {
  background: #FFF;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  border-radius: 10px 10px 10px 0;
  margin: 0;
  padding: 6px 5px 9px 20px;
  float: none;
}
.extra-header .navbar-form .form-control {
  background: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #dbdbdb;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  font-weight: normal;
  width: 100%;
}
.extra-header .navbar-form .form-control,
.extra-header .navbar-form .input-group-addon,
.extra-header .navbar-form .input-group-btn {
  display: table-cell;
  float: none;
}
.extra-header .navbar-form .btn {
  background: none;
  font-size: 18px;
  color: #2c8a5a;
  padding-bottom: 2px;
}
.extra-header .navbar-form .btn:hover {
  background: none;
}
.extra-header .navbar-form .input-group-btn {
  width: 1%;
}
.extra-header .navbar-form .input-group {
  display: table;
}
.home .extra-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.box-share,
.box-share > div {
  display: inline-block;
  vertical-align: middle;
}
.box-share .fb_iframe_widget span {
  vertical-align: top !important;
}
.box-banner {
  background: url(../imagem/site/bg-banner.jpg) no-repeat center bottom;
  padding: 180px 0 0;
}
.box-banner .extra-1 {
  background: url(../imagem/site/bg-banner-extra.png) repeat-x bottom;
}
.cycle-banner {
  background: #FFF;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #c2c2c2;
}
.cycle-banner .title {
  font-size: 24px;
}
.cycle-slideshow li * {
  white-space: normal;
}
.cycle-nav span {
  display: inline-block;
  cursor: pointer;
}
.cycle-galeria {
  margin: 0 0 30px;
}
.cycle-galeria,
.cycle-galeria .cycle-slideshow,
.cycle-galeria .cycle-slideshow li,
.cycle-galeria .link {
  width: 100%;
  height: 460px;
}
.cycle-galeria .link {
  display: block;
  background: #000;
  background-size: cover;
  text-align: center;
}
.cycle-galeria .imagem {
  display: inline-block;
  max-height: 440px;
}
.cycle-galeria .cycle-nav {
  text-align: center;
}
.cycle-galeria .cycle-nav span {
  display: inline-block;
  width: 9px;
  height: 9px;
  text-indent: -1000px;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #AEAEAE;
}
.cycle-galeria .cycle-nav span + span {
  margin-left: 10px;
}
.cycle-galeria .cycle-nav span.cycle-pager-active {
  background: #2c8a5a;
}
.form-control {
  box-shadow: none;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='ycon-'],
[class*='ycon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/ycon.png);
}
.pixel {
  width: 100%;
  height: 100%;
}
.preco {
  margin: 15px 0;
  line-height: 1;
}
.preco .preco-left,
.preco .preco-right {
  display: inline-block;
}
.preco .preco-left {
  padding-right: 15px;
}
.preco .preco-right {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
.preco-parcela {
  display: block;
}
.preco-inicial {
  display: block;
}
.preco-final {
  display: block;
}
.risco {
  display: inline-block;
  text-decoration: line-through;
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
.social-footer,
.social-central,
.social-header {
  font-size: 24px;
}
.social-footer a,
.social-central a,
.social-header a {
  display: inline-block;
}
.social-footer a + a,
.social-central a + a,
.social-header a + a {
  margin-left: 15px;
}
.text-format {
  line-height: 1.8;
}
.text-format img[style*='float:right'] {
  margin-left: 20px;
  margin-bottom: 20px;
}
.text-format img[style*='float:left'] {
  margin-right: 20px;
  margin-bottom: 20px;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  .home .extra-header {
    position: relative;
  }
  .home .box-banner {
    padding: 0;
  }
  .extra-header .header-line-1 .nav > li + li {
    border-left: 0;
  }
}
